{
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@/ai/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
