{
  "openapi": "3.0.3",
  "info": {
    "title": "Clerk Platform API",
    "x-logo": {
      "url": "https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75",
      "altText": "Clerk docs",
      "href": "https://clerk.com/docs"
    },
    "contact": {
      "email": "support@clerk.com",
      "name": "Clerk Platform Team",
      "url": "https://clerk.com/support"
    },
    "description": "The Clerk REST Platform API, for programmatic management of resources of a workspace.\n\n> [!note]\n> This API is currently in private beta. If you'd like access for your workspace, please fill out and submit our [request form](https://clerkdev.notion.site/2df2b9ab44fe803f9031e9f3185c5e19).",
    "version": "BETA",
    "termsOfService": "https://clerk.com/terms",
    "license": {
      "name": "MIT",
      "url": "https://github.com/clerk/openapi-specs/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.clerk.com/v1"
    }
  ],
  "security": [
    {
      "platform_api_access_token": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "An object representing a Clerk application. Each `application` can have multiple `instances`, typically one for development and one for production, each with distinct user pools."
    },
    {
      "name": "Domains",
      "description": "An object representing a domain associated with a Clerk application. In development `instances`, a domain is provided by Clerk. Production `instances` require additional configuration to be set up."
    },
    {
      "name": "Application Transfers",
      "description": "An object representing a transfer request for an application between workspaces."
    }
  ],
  "externalDocs": {
    "url": "https://clerk.com/docs"
  },
  "paths": {
    "/platform/applications": {
      "get": {
        "operationId": "PlatformListApplications",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplications",
        "tags": ["Applications"],
        "summary": "List applications",
        "description": "List applications.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "include_secret_keys",
            "in": "query",
            "description": "Whether to include secret keys in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Applications retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplication",
        "tags": ["Applications"],
        "summary": "Create an application",
        "description": "Create a new application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "requestBody": {
          "description": "Application data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}": {
      "get": {
        "operationId": "PlatformGetApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplication",
        "tags": ["Applications"],
        "summary": "Get an application",
        "description": "Get application details.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_secret_keys",
            "in": "query",
            "description": "Whether to include secret keys in the response. If 'true', the response will include the secret keys for each instance.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "PlatformUpdateApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateApplication",
        "tags": ["Applications"],
        "summary": "Update an application",
        "description": "Update an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplication",
        "tags": ["Applications"],
        "summary": "Delete an application",
        "description": "Delete an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDeletedObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domain": {
      "patch": {
        "operationId": "PlatformUpdateApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateApplicationDomain",
        "tags": ["Domains"],
        "summary": "Update application domain",
        "description": "Update the production domain for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateApplicationDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application domain updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}": {
      "get": {
        "operationId": "PlatformGetApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationDomain",
        "tags": ["Domains"],
        "summary": "Get application domain",
        "description": "Get domain information for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}/status": {
      "get": {
        "operationId": "PlatformGetApplicationDomainStatus",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationDomainStatus",
        "tags": ["Domains"],
        "summary": "Get application domain status",
        "description": "Get the status of a domain for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain status retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}/dns_check": {
      "post": {
        "operationId": "PlatformTriggerDNSCheck",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "triggerDNSCheck",
        "tags": ["Domains"],
        "summary": "Trigger DNS check",
        "description": "Triggers a DNS check for a domain and returns the current domain status.\n\nThis endpoint ensures that at most one DNS check job is in-flight at any time.\nIf a check is already running or was recently performed, a 409 Conflict is returned.\n\nUse this endpoint to trigger a new DNS verification check after configuring DNS records.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS check triggered and domain status returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDNSCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "description": "A DNS check is already in progress or a recent check was performed. Wait for the current check to complete or for the cooldown period to expire before retrying.",
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/application_transfers": {
      "get": {
        "operationId": "PlatformListApplicationTransfers",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplicationTransfers",
        "tags": ["Application Transfers"],
        "summary": "List application transfers",
        "description": "List all transfer requests created by the authenticated workspace. Returns\ntransfers sorted by creation date in descending order (most recent first).\n\nUse the `status` parameter to filter by transfer status.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transfer status. Multiple values can be provided by repeating\nthe parameter (e.g., `?status=pending&status=canceled`).\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["pending", "completed", "canceled", "expired"]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the last transfer from the\nprevious page to get the next page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the first transfer from the\nprevious page to get the previous page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationTransfersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfers": {
      "post": {
        "operationId": "PlatformCreateApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Create an application transfer",
        "description": "Create a new transfer request for an application. This initiates the process of\ntransferring ownership of the application to another workspace.\n\nOnly one pending transfer can exist for an application at a time. The transfer\nwill expire after 24 hours if not completed.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Application transfer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfers/{transferID}": {
      "get": {
        "operationId": "PlatformGetApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Get an application transfer",
        "description": "Retrieve details of an application transfer by its ID.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferID",
            "in": "path",
            "description": "Application Transfer ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformCancelApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "cancelApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Cancel an application transfer",
        "description": "Cancel an existing application transfer. Only transfers in 'pending' status can be canceled.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferID",
            "in": "path",
            "description": "Application Transfer ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfer canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "platform_api_access_token": {
        "type": "http",
        "scheme": "bearer",
        "description": "Platform API access token."
      }
    },
    "schemas": {
      "PlatformApplicationInstance": {
        "title": "Application Instance",
        "description": "Represents an instance (environment) within a Clerk application. Each application can have multiple instances, typically one for development and one for production.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "instance_id": {
            "type": "string",
            "description": "The unique identifier for this instance. Use this ID when making API calls that target a specific instance.",
            "example": "ins_2abc123def456"
          },
          "environment_type": {
            "type": "string",
            "description": "The environment type of the instance. Determines whether this instance is used for development/testing or production workloads.",
            "enum": ["development", "production"],
            "example": "production"
          },
          "secret_key": {
            "type": "string",
            "description": "The secret key for authenticating server-side API requests to this instance. Keep this value secure and never expose it in client-side code.",
            "example": "sk_live_abc123...",
            "x-sensitive": true
          },
          "publishable_key": {
            "type": "string",
            "description": "The publishable key for this instance. Safe to include in client-side code and used to initialize Clerk SDKs in the browser.",
            "example": "pk_live_abc123..."
          }
        },
        "required": ["instance_id", "environment_type", "publishable_key"]
      },
      "PlatformApplicationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "application_id": {
            "type": "string",
            "description": "The ID of the application."
          },
          "instances": {
            "type": "array",
            "description": "List of instances associated with this application.",
            "items": {
              "$ref": "#/components/schemas/PlatformApplicationInstance"
            }
          }
        },
        "required": ["application_id", "instances"]
      },
      "PlatformListApplicationsResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PlatformApplicationResponse"
        },
        "minItems": 0
      },
      "ClerkError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "long_message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "meta": {
            "type": "object"
          }
        },
        "required": ["message", "long_message", "code"]
      },
      "ClerkErrors": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClerkError"
            }
          },
          "meta": {
            "type": "object"
          },
          "clerk_trace_id": {
            "type": "string"
          }
        },
        "required": ["errors"]
      },
      "PlatformCreateApplicationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the application."
          },
          "domain": {
            "type": "string",
            "description": "The domain for the application (optional)."
          },
          "environment_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["development", "production"]
            },
            "description": "List of environment types to create instances for."
          },
          "template": {
            "type": "string",
            "description": "Application template to use for configuring the application (e.g., \"b2b-saas\", \"b2c-saas\", \"waitlist\")."
          }
        },
        "required": ["name"]
      },
      "PlatformDeletedObjectResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean",
            "description": "Whether the object was deleted."
          },
          "object": {
            "type": "string",
            "example": "deleted"
          },
          "id": {
            "type": "string",
            "description": "The ID of the deleted resource."
          }
        },
        "required": ["deleted", "object", "id"]
      },
      "PlatformUpdateApplicationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the application."
          }
        }
      },
      "PlatformUpdateApplicationDomainRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The domain name."
          }
        },
        "required": ["name"]
      },
      "PlatformDomainResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string",
            "enum": ["domain"]
          },
          "id": {
            "type": "string",
            "description": "The ID of the domain."
          },
          "name": {
            "type": "string",
            "description": "The domain name."
          },
          "is_satellite": {
            "type": "boolean",
            "description": "Whether this is a satellite domain."
          },
          "frontend_api_url": {
            "type": "string",
            "description": "The frontend API URL."
          },
          "development_origin": {
            "type": "string",
            "description": "The development origin."
          },
          "accounts_portal_url": {
            "type": "string",
            "description": "The accounts portal URL."
          },
          "cname_targets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              }
            },
            "description": "CNAME targets for the domain."
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "frontend_api_url",
          "development_origin",
          "accounts_portal_url",
          "cname_targets"
        ]
      },
      "FailureHint": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["code", "message"]
      },
      "CNAMEStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "clerk_subdomain": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "failure_hints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FailureHint"
            }
          }
        },
        "required": ["clerk_subdomain", "from", "to", "verified", "required", "failure_hints"]
      },
      "DNSStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "enum": ["not_started", "in_progress", "complete"]
          },
          "cnames": {
            "type": "object",
            "properties": {
              "accounts": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clerk": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clk._domainkey": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clk2._domainkey": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clkmail": {
                "$ref": "#/components/schemas/CNAMEStatus"
              }
            }
          }
        },
        "required": ["status", "cnames"]
      },
      "SSLStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "failure_hints": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/FailureHint"
            }
          }
        },
        "required": ["status", "required", "failure_hints"]
      },
      "PlatformDomainStatusResponse": {
        "type": "object",
        "properties": {
          "dns": {
            "type": "object",
            "$ref": "#/components/schemas/DNSStatus"
          },
          "ssl": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["complete", "in_process", "not_started", "failed", "incomplete"]
              },
              "required": {
                "type": "boolean"
              },
              "failure_hints": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/FailureHint"
                }
              }
            }
          },
          "ssl_hosts": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SSLStatus"
            }
          },
          "mail": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "required": {
                "type": "boolean"
              }
            },
            "required": ["status", "required"]
          },
          "proxy": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "required": {
                "type": "boolean"
              }
            },
            "required": ["status", "required"]
          },
          "status": {
            "type": "string",
            "enum": ["complete", "incomplete"]
          }
        },
        "required": ["dns", "ssl", "status"]
      },
      "PlatformDNSCheckResponse": {
        "description": "Response from triggering a DNS check. Includes the current domain status\nalong with metadata about the check.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/PlatformDomainStatusResponse"
          },
          {
            "type": "object",
            "properties": {
              "domain_id": {
                "type": "string",
                "description": "The ID of the domain.",
                "example": "dmn_abcdefghijklmnopqrstuvwxyz0"
              },
              "last_run_at": {
                "type": "integer",
                "format": "int64",
                "nullable": true,
                "description": "The timestamp in epoch milliseconds of the last DNS check, if any.\nWill be `null` if no check has been performed yet.\n"
              }
            },
            "required": ["domain_id", "last_run_at"]
          }
        ]
      },
      "PlatformApplicationTransferResponse": {
        "title": "Application Transfer",
        "description": "Represents an application transfer request. Application transfers allow transferring ownership of an application from one organization to another.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string",
            "enum": ["application_transfer"],
            "description": "The object type."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the application transfer.",
            "example": "appxfr_2abc123def456"
          },
          "code": {
            "type": "string",
            "description": "A unique code for the transfer that can be shared with the recipient to claim the application.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "application_id": {
            "type": "string",
            "description": "The ID of the application being transferred.",
            "example": "app_2abc123def456"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transfer.",
            "enum": ["pending", "completed", "canceled", "expired"],
            "example": "pending"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the transfer expires if not completed.",
            "example": "2024-01-16T12:00:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the transfer was created.",
            "example": "2024-01-15T12:00:00Z"
          },
          "canceled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The timestamp when the transfer was canceled, or null if not canceled.",
            "example": null
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The timestamp when the transfer was completed, or null if not completed.",
            "example": null
          }
        },
        "required": [
          "object",
          "id",
          "code",
          "application_id",
          "status",
          "expires_at",
          "created_at",
          "canceled_at",
          "completed_at"
        ]
      },
      "PlatformListApplicationTransfersResponse": {
        "title": "List Application Transfers Response",
        "description": "A paginated list of application transfers.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "description": "The list of application transfers.",
            "items": {
              "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
            }
          },
          "total_count": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of application transfers matching the query.",
            "example": 5
          }
        },
        "required": ["data", "total_count"]
      }
    },
    "responses": {
      "ClerkErrors": {
        "description": "Request was not successful",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClerkErrors"
            }
          }
        }
      },
      "AuthenticationInvalid": {
        "description": "Authentication invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClerkErrors"
            }
          }
        }
      },
      "AuthorizationInvalid": {
        "description": "Authorization invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClerkErrors"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClerkErrors"
            }
          }
        }
      },
      "ResourceNotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClerkErrors"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClerkErrors"
            }
          }
        }
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "Core Resources",
      "tags": ["Applications", "Domains", "Application Transfers"]
    }
  ]
}
