{
  "openapi": "3.0.3",
  "info": {
    "title": "Clerk Platform API",
    "x-logo": {
      "url": "https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75",
      "altText": "Clerk docs",
      "href": "https://clerk.com/docs"
    },
    "contact": {
      "email": "support@clerk.com",
      "name": "Clerk Platform Team",
      "url": "https://clerk.com/support"
    },
    "description": "The Clerk REST Platform API, for programmatic management of resources of a workspace.\n\n> [!note]\n> This API is currently in private beta. If you'd like access for your workspace, please fill out and submit our [request form](https://clerkdev.notion.site/2df2b9ab44fe803f9031e9f3185c5e19).",
    "version": "BETA",
    "termsOfService": "https://clerk.com/terms",
    "license": {
      "name": "MIT",
      "url": "https://github.com/clerk/openapi-specs/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.clerk.com/v1"
    }
  ],
  "security": [
    {
      "platform_api_access_token": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "An object representing a Clerk application. Each `application` can have multiple `instances`, typically one for development and one for production, each with distinct user pools."
    },
    {
      "name": "Domains",
      "description": "An object representing a domain associated with a Clerk application. In development `instances`, a domain is provided by Clerk. Production `instances` require additional configuration to be set up."
    },
    {
      "name": "Domain Intents",
      "description": "An object representing the intent to create a Clerk domain.\nThe high-level for domain intent consumption:\n1. Create a domain intent, and receive the DNS records for the future domain to function. 2. Create a domain, supplying the intent ID."
    },
    {
      "name": "Application Transfers",
      "description": "An object representing a transfer request for an application between workspaces.\n\nThe high-level flow for application transfer:\n\n1. The initial workspace can create an application transfer. A single-use `code` will be generated which may be distributed to any end-user of Clerk.\n2. The code must be claimed through the clerk dashboard: https://dashboard.clerk.com/apps/transfer?code=<...>\n\nNote that once a transfer is claimed, the original workspace will no longer have access to the application."
    },
    {
      "name": "Users",
      "description": "Operations for managing users within an application instance."
    },
    {
      "name": "JWT Templates",
      "description": "Operations for managing JWT templates within an application instance."
    },
    {
      "name": "Redirect URLs",
      "description": "Operations for managing redirect URLs within an application instance."
    },
    {
      "name": "Config",
      "description": "Operations for managing instance configuration. The config API provides a unified interface for reading and updating instance settings, including authentication methods, SSO connections, and other instance-level configuration options."
    }
  ],
  "externalDocs": {
    "url": "https://clerk.com/docs"
  },
  "paths": {
    "/platform/applications": {
      "get": {
        "operationId": "PlatformListApplications",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplications",
        "tags": ["Applications"],
        "summary": "List applications",
        "description": "List applications.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "include_secret_keys",
            "in": "query",
            "description": "Whether to include secret keys in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Applications retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplication",
        "tags": ["Applications"],
        "summary": "Create an application",
        "description": "Create a new application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}": {
      "get": {
        "operationId": "PlatformGetApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplication",
        "tags": ["Applications"],
        "summary": "Get an application",
        "description": "Get application details.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_secret_keys",
            "in": "query",
            "description": "Whether to include secret keys in the response. If 'true', the response will include the secret keys for each instance.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "PlatformUpdateApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateApplication",
        "tags": ["Applications"],
        "summary": "Update an application",
        "description": "Update an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplication",
        "tags": ["Applications"],
        "summary": "Delete an application",
        "description": "Delete an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDeletedObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/logo": {
      "post": {
        "operationId": "PlatformUploadApplicationLogo",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "uploadApplicationLogo",
        "tags": ["Applications"],
        "summary": "Upload application logo",
        "description": "Set or replace an application's logo by uploading an image file.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string"
              },
              "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application logo uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "413": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplicationLogo",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplicationLogo",
        "tags": ["Applications"],
        "summary": "Delete application logo",
        "description": "Delete an application's logo.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application logo deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/favicon": {
      "post": {
        "operationId": "PlatformUploadApplicationFavicon",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "uploadApplicationFavicon",
        "tags": ["Applications"],
        "summary": "Upload application favicon",
        "description": "Set or replace an application's favicon by uploading an image file.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string"
              },
              "example": "data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAGAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAA"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application favicon uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "413": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplicationFavicon",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplicationFavicon",
        "tags": ["Applications"],
        "summary": "Delete application favicon",
        "description": "Delete an application's favicon.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application favicon deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domain": {
      "patch": {
        "operationId": "PlatformUpdateApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateApplicationDomain",
        "tags": ["Domains"],
        "summary": "Update application domain",
        "description": "Update the production domain for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateApplicationDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application domain updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains": {
      "get": {
        "operationId": "PlatformListApplicationDomains",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplicationDomains",
        "tags": ["Domains"],
        "summary": "List application domains",
        "description": "List all domains for an application's production instance.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domains retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationDomainsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplicationDomain",
        "tags": ["Domains"],
        "summary": "Create application domain",
        "description": "Create a provider domain for an application's production instance.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateApplicationDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application domain created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}": {
      "get": {
        "operationId": "PlatformGetApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationDomain",
        "tags": ["Domains"],
        "summary": "Get application domain",
        "description": "Get domain information for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplicationDomain",
        "tags": ["Domains"],
        "summary": "Delete application domain",
        "description": "Delete a provider domain from an application's production instance.\n\nOnly provider domains can be deleted. The primary domain cannot be deleted.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDeletedObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}/status": {
      "get": {
        "operationId": "PlatformGetApplicationDomainStatus",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationDomainStatus",
        "tags": ["Domains"],
        "summary": "Get application domain status",
        "description": "Get the status of a domain for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain status retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}/dns_check": {
      "post": {
        "operationId": "PlatformTriggerDNSCheck",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "triggerDNSCheck",
        "tags": ["Domains"],
        "summary": "Trigger DNS check",
        "description": "Triggers a DNS check for a domain and returns the current domain status.\n\nThis endpoint ensures that at most one DNS check job is in-flight at any time.\nIf a check is already running or was recently performed, a 409 Conflict is returned.\n\nUse this endpoint to trigger a new DNS verification check after configuring DNS records.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS check triggered and domain status returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDNSCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/domains": {
      "get": {
        "operationId": "PlatformListDomains",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listDomains",
        "tags": ["Domains"],
        "summary": "List domains",
        "description": "List production instance domains for applications in the authenticated workspace.\nResults are sorted by domain creation time in descending order (most recent first).\n\nSet `include_development` to include development instance domains.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter domains whose name contains this substring (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_development",
            "in": "query",
            "description": "When `true`, include development instance domains. Defaults to production only.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the last domain from the\nprevious page to get the next page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the first domain from the\nprevious page to get the previous page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domains retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListDomainsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/domains/{domainIDOrName}": {
      "get": {
        "operationId": "PlatformGetDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getDomain",
        "tags": ["Domains"],
        "summary": "Get domain",
        "description": "Retrieve a single domain by ID or name for the authenticated workspace.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformWorkspaceDomainResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/domains/{domainName}/availability": {
      "get": {
        "operationId": "PlatformGetDomainAvailability",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getDomainAvailability",
        "x-internal": true,
        "tags": ["Domains"],
        "summary": "Check domain availability",
        "description": "Checks whether a domain name is available for use.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "domainName",
            "in": "path",
            "description": "Domain name to check.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain availability retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainAvailabilityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/domain_intents": {
      "get": {
        "operationId": "PlatformListDomainIntents",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listDomainIntents",
        "tags": ["Domain Intents"],
        "summary": "List domain intents",
        "description": "List all domain intents created by the authenticated workspace. Returns\nintents sorted by creation date in descending order (most recent first).\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter by exact domain name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by domain intent status. Multiple values can be provided by\nrepeating the parameter (e.g., `?status=pending&status=canceled`).\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["pending", "completed", "expired", "canceled"]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the last domain intent from\nthe previous page to get the next page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the first domain intent from\nthe previous page to get the previous page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain intents retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListDomainIntentsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateDomainIntent",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createDomainIntent",
        "tags": ["Domain Intents"],
        "summary": "Create a domain intent",
        "description": "Create a pending domain intent and receive DNS records for\nthe domain name.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "requestBody": {
          "description": "Domain intent data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateDomainIntentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain intent created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainIntentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/domain_intents/{domainIntentID}": {
      "get": {
        "operationId": "PlatformGetDomainIntent",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getDomainIntent",
        "tags": ["Domain Intents"],
        "summary": "Get a domain intent",
        "description": "Retrieve a domain intent by ID.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "domainIntentID",
            "in": "path",
            "description": "Domain intent ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain intent retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainIntentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformCancelDomainIntent",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "cancelDomainIntent",
        "tags": ["Domain Intents"],
        "summary": "Cancel a domain intent",
        "description": "Cancel a pending domain intent.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "domainIntentID",
            "in": "path",
            "description": "Domain intent ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain intent canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainIntentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/application_transfers": {
      "get": {
        "operationId": "PlatformListApplicationTransfers",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplicationTransfers",
        "tags": ["Application Transfers"],
        "summary": "List application transfers",
        "description": "List all transfer requests created by the authenticated workspace. Returns\ntransfers sorted by creation date in descending order (most recent first).\n\nUse the `status` parameter to filter by transfer status.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transfer status. Multiple values can be provided by repeating\nthe parameter (e.g., `?status=pending&status=canceled`).\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["pending", "completed", "canceled", "expired"]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the last transfer from the\nprevious page to get the next page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the first transfer from the\nprevious page to get the previous page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationTransfersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfers": {
      "post": {
        "operationId": "PlatformCreateApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Create an application transfer",
        "description": "Create a new transfer request for an application. This initiates the process of\ntransferring ownership of the application to another workspace.\n\nOnly one pending transfer can exist for an application at a time. The transfer\nwill expire after 24 hours if not completed.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Application transfer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfers/{transferID}": {
      "get": {
        "operationId": "PlatformGetApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Get an application transfer",
        "description": "Retrieve details of an application transfer by its ID.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferID",
            "in": "path",
            "description": "Application Transfer ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformCancelApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "cancelApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Cancel an application transfer",
        "description": "Cancel an existing application transfer. Only transfers in 'pending' status can be canceled.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferID",
            "in": "path",
            "description": "Application Transfer ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfer canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/users": {
      "post": {
        "operationId": "PlatformGetOrCreateUser",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getOrCreateUser",
        "tags": ["Users"],
        "summary": "Get or create a user",
        "x-internal": true,
        "description": "Get an existing user by email address or create a new user if one does not exist.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "User data used to find or create a user.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformGetOrCreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing user retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "201": {
            "description": "New user created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/organizations": {
      "post": {
        "operationId": "PlatformCreateOrganization",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createOrganization",
        "tags": ["Organizations"],
        "summary": "Create an organization",
        "x-internal": true,
        "description": "Create a new organization.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Organization data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Organization"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/organizations/{organizationID}": {
      "patch": {
        "operationId": "PlatformUpdateOrganization",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateOrganization",
        "tags": ["Organizations"],
        "summary": "Update a Vercel-managed organization subscription",
        "x-internal": true,
        "description": "Create or update a V3 workspace-scoped externally-paid subscription for a\nVercel-managed organization.\n",
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Organization update data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Organization"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteOrganization",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteOrganization",
        "tags": ["Organizations"],
        "summary": "Delete an organization",
        "x-internal": true,
        "description": "Delete an organization.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDeletedObjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/organizations/{organizationID}/subscription/stripe": {
      "post": {
        "operationId": "PlatformCreateOrganizationSubscription",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createOrganizationSubscription",
        "tags": ["Organizations"],
        "summary": "Create a Stripe-billed workspace subscription",
        "x-internal": true,
        "description": "Create a V3 workspace-scoped Stripe subscription for an existing organization\nusing a Shared Payment Token (SPT) from Stripe agentic provisioning.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "organizationID",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Subscription data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateOrganizationSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Object type — always \"subscription\"."
                    },
                    "id": {
                      "type": "string",
                      "description": "The Clerk subscription record ID."
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "The organization ID the subscription was created for."
                    },
                    "plan_id": {
                      "type": "string",
                      "description": "The plan ID that was activated."
                    },
                    "status": {
                      "type": "string",
                      "description": "Subscription status — \"active\" for new, \"already_active\" if subscription existed."
                    },
                    "stripe_subscription_id": {
                      "type": "string",
                      "description": "The Stripe subscription ID (empty if subscription already existed)."
                    },
                    "billing_account_id": {
                      "type": "string",
                      "description": "The Clerk billing account ID linked to this subscription."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/rotate_secret_keys": {
      "post": {
        "operationId": "PlatformRotateSecretKeys",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "rotateSecretKeys",
        "tags": ["Applications"],
        "summary": "Rotate application secret keys",
        "x-internal": true,
        "description": "Rotate the secret keys for an application's instances.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Secret key rotation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delay_old_secrets_expiration_hours": {
                    "type": "integer",
                    "description": "Hours to delay old secret expiration."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for rotation."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret keys rotated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/subscription": {
      "get": {
        "operationId": "PlatformGetApplicationSubscription",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationSubscription",
        "tags": ["Applications"],
        "summary": "Get application subscription",
        "x-internal": true,
        "description": "Get the subscription for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application subscription retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "stripe_subscription_id": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/usage": {
      "get": {
        "operationId": "PlatformGetApplicationUsage",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationUsage",
        "tags": ["Applications"],
        "summary": "Get application usage",
        "x-internal": true,
        "description": "Get usage information for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application usage retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfer_ownership": {
      "post": {
        "operationId": "PlatformTransferOwnership",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "transferOwnership",
        "tags": ["Applications"],
        "summary": "Transfer application ownership",
        "x-internal": true,
        "description": "Transfer ownership of an application to another organization.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "The owner ID (organization ID) for shared-secret authentication.",
            "required": false,
            "x-internal": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Transfer ownership parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "description": "The target organization ID to transfer ownership to."
                  },
                  "subscription_metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "paid_externally": {
                    "type": "boolean",
                    "nullable": true
                  }
                },
                "required": ["organization_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application ownership transferred successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/usage": {
      "get": {
        "operationId": "PlatformGetInstanceUsage",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getInstanceUsage",
        "tags": ["Applications"],
        "summary": "Get instance usage",
        "description": "Get usage totals for an application instance across meters such as MAU, MAO,\nSMS, custom domains, and enterprise connections.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `application_usage:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start of the date range for usage data in YYYY-MM-DD format.\nBoth `start` and `end` must be provided together.\nWhen omitted, the current billing cycle is used.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Inclusive end of the date range for usage data in YYYY-MM-DD format.\nBoth `start` and `end` must be provided together.\nWhen omitted, the current billing cycle is used.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance usage retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformInstanceUsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/ClerkErrors"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users": {
      "get": {
        "operationId": "PlatformListInstanceUsers",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listInstanceUsers",
        "tags": ["Users"],
        "summary": "List instance users",
        "description": "List all users for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nUse the `query` parameter to filter users by searching across email addresses, phone numbers,\nusernames, web3 wallets, user IDs, first names, and last names.\n\nUse the `order_by` parameter to sort the results. Prefix with `+` for ascending or `-` for descending order.\nValid fields: `created_at`, `updated_at`, `last_sign_in_at`, `last_active_at`, `email_address`, `first_name`,\n`last_name`, `username`, `phone_number`, `web3_wallet`. Default is `-created_at` (most recent first).\n\nRequires the `users:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A search query to filter users. Searches across email addresses, phone numbers,\nusernames, web3 wallets, user IDs, first names, and last names.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order results by. Prefix with `+` for ascending or `-` for descending order.\nValid fields: `created_at`, `updated_at`, `last_sign_in_at`, `last_active_at`, `email_address`,\n`first_name`, `last_name`, `username`, `phone_number`, `web3_wallet`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListInstanceUsersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users/{userID}": {
      "delete": {
        "operationId": "PlatformDeleteUser",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteUser",
        "tags": ["Users"],
        "summary": "Delete a user",
        "description": "Delete a user within an application instance. Returns the deleted user object.\n\nDeleting a user that does not exist (or has already been deleted) returns 404.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `users:delete` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeletedObject"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users/{userID}/ban": {
      "post": {
        "operationId": "PlatformBanUser",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "banUser",
        "tags": ["Users"],
        "summary": "Ban a user",
        "description": "Marks a user as banned within an application instance. This terminates their active sessions\n(marks them as revoked) and prevents them from signing in again.\n\nRequires the `users:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User banned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users/{userID}/unban": {
      "post": {
        "operationId": "PlatformUnbanUser",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "unbanUser",
        "tags": ["Users"],
        "summary": "Unban a user",
        "description": "Removes the ban from a user within an application instance. This allows them to sign in again.\n\nRequires the `users:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unbanned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/jwt_templates": {
      "get": {
        "operationId": "PlatformListJWTTemplates",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listJWTTemplates",
        "tags": ["JWT Templates"],
        "summary": "List JWT templates",
        "description": "List all JWT templates for an application instance.\n\nRequires the `jwt_templates:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT templates retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JWTTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Create a JWT template",
        "description": "Create a new JWT template for an application instance.\n\nRequires the `jwt_templates:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JWT template data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "JWT template name"
                  },
                  "claims": {
                    "type": "object",
                    "description": "JWT template claims in JSON format"
                  },
                  "lifetime": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 315360000,
                    "description": "JWT token lifetime in seconds",
                    "nullable": true
                  },
                  "allowed_clock_skew": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300,
                    "description": "JWT allowed clock skew in seconds",
                    "nullable": true
                  },
                  "custom_signing_key": {
                    "type": "boolean",
                    "description": "Whether a custom signing key/algorithm is also provided for this template"
                  },
                  "signing_algorithm": {
                    "type": "string",
                    "description": "The custom signing algorithm to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  },
                  "signing_key": {
                    "type": "string",
                    "description": "The custom signing private key to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  }
                },
                "required": ["name", "claims"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT template created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/jwt_templates/{templateID}": {
      "get": {
        "operationId": "PlatformGetJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Get a JWT template",
        "description": "Retrieve a specific JWT template for an application instance.\n\nRequires the `jwt_templates:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateID",
            "in": "path",
            "description": "JWT Template ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT template retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "PlatformUpdateJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Update a JWT template",
        "description": "Update an existing JWT template for an application instance.\n\nRequires the `jwt_templates:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateID",
            "in": "path",
            "description": "JWT Template ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JWT template data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "JWT template name"
                  },
                  "claims": {
                    "type": "object",
                    "description": "JWT template claims in JSON format"
                  },
                  "lifetime": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 315360000,
                    "description": "JWT token lifetime in seconds",
                    "nullable": true
                  },
                  "allowed_clock_skew": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300,
                    "description": "JWT allowed clock skew in seconds",
                    "nullable": true
                  },
                  "custom_signing_key": {
                    "type": "boolean",
                    "description": "Whether a custom signing key/algorithm is also provided for this template"
                  },
                  "signing_algorithm": {
                    "type": "string",
                    "description": "The custom signing algorithm to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  },
                  "signing_key": {
                    "type": "string",
                    "description": "The custom signing private key to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  }
                },
                "required": ["name", "claims"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT template updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
[...]
