{
  "openapi": "3.0.3",
  "info": {
    "title": "Clerk Platform API",
    "x-logo": {
      "url": "https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75",
      "altText": "Clerk docs",
      "href": "https://clerk.com/docs"
    },
    "contact": {
      "email": "support@clerk.com",
      "name": "Clerk Platform Team",
      "url": "https://clerk.com/support"
    },
    "description": "The Clerk REST Platform API, for programmatic management of resources of a workspace.\n\n> [!note]\n> This API is currently in private beta. If you'd like access for your workspace, please fill out and submit our [request form](https://clerkdev.notion.site/2df2b9ab44fe803f9031e9f3185c5e19).",
    "version": "BETA",
    "termsOfService": "https://clerk.com/terms",
    "license": {
      "name": "MIT",
      "url": "https://github.com/clerk/openapi-specs/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.clerk.com/v1"
    }
  ],
  "security": [
    {
      "platform_api_access_token": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "An object representing a Clerk application. Each `application` can have multiple `instances`, typically one for development and one for production, each with distinct user pools."
    },
    {
      "name": "Domains",
      "description": "An object representing a domain associated with a Clerk application. In development `instances`, a domain is provided by Clerk. Production `instances` require additional configuration to be set up."
    },
    {
      "name": "Application Transfers",
      "description": "An object representing a transfer request for an application between workspaces.\n\nThe high-level flow for application transfer:\n\n1. The initial workspace can create an application transfer. A single-use `code` will be generated which may be distributed to any end-user of Clerk.\n2. The code must be claimed through the clerk dashboard: https://dashboard.clerk.com/apps/transfer?code=<...>\n\nNote that once a transfer is claimed, the original workspace will no longer have access to the application."
    },
    {
      "name": "Users",
      "description": "Operations for managing users within an application instance."
    },
    {
      "name": "JWT Templates",
      "description": "Operations for managing JWT templates within an application instance."
    },
    {
      "name": "Redirect URLs",
      "description": "Operations for managing redirect URLs within an application instance."
    },
    {
      "name": "Config",
      "description": "Operations for managing instance configuration. The config API provides a unified interface for reading and updating instance settings, including authentication methods, SSO connections, and other instance-level configuration options."
    }
  ],
  "externalDocs": {
    "url": "https://clerk.com/docs"
  },
  "paths": {
    "/platform/applications": {
      "get": {
        "operationId": "PlatformListApplications",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplications",
        "tags": ["Applications"],
        "summary": "List applications",
        "description": "List applications.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "include_secret_keys",
            "in": "query",
            "description": "Whether to include secret keys in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Applications retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplication",
        "tags": ["Applications"],
        "summary": "Create an application",
        "description": "Create a new application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "requestBody": {
          "description": "Application data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}": {
      "get": {
        "operationId": "PlatformGetApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplication",
        "tags": ["Applications"],
        "summary": "Get an application",
        "description": "Get application details.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_secret_keys",
            "in": "query",
            "description": "Whether to include secret keys in the response. If 'true', the response will include the secret keys for each instance.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "PlatformUpdateApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateApplication",
        "tags": ["Applications"],
        "summary": "Update an application",
        "description": "Update an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplication",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplication",
        "tags": ["Applications"],
        "summary": "Delete an application",
        "description": "Delete an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDeletedObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/logo": {
      "post": {
        "operationId": "PlatformUploadApplicationLogo",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "uploadApplicationLogo",
        "tags": ["Applications"],
        "summary": "Upload application logo",
        "description": "Set or replace an application's logo by uploading an image file.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string"
              },
              "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application logo uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "413": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplicationLogo",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplicationLogo",
        "tags": ["Applications"],
        "summary": "Delete application logo",
        "description": "Delete an application's logo.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application logo deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/favicon": {
      "post": {
        "operationId": "PlatformUploadApplicationFavicon",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "uploadApplicationFavicon",
        "tags": ["Applications"],
        "summary": "Upload application favicon",
        "description": "Set or replace an application's favicon by uploading an image file.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string"
              },
              "example": "data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAGAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAA"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application favicon uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "413": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplicationFavicon",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplicationFavicon",
        "tags": ["Applications"],
        "summary": "Delete application favicon",
        "description": "Delete an application's favicon.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application favicon deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domain": {
      "patch": {
        "operationId": "PlatformUpdateApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateApplicationDomain",
        "tags": ["Domains"],
        "summary": "Update application domain",
        "description": "Update the production domain for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformUpdateApplicationDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application domain updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains": {
      "get": {
        "operationId": "PlatformListApplicationDomains",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplicationDomains",
        "tags": ["Domains"],
        "summary": "List application domains",
        "description": "List all domains for an application's production instance.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domains retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationDomainsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplicationDomain",
        "tags": ["Domains"],
        "summary": "Create application domain",
        "description": "Create a provider domain for an application's production instance.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Domain data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformCreateApplicationDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application domain created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}": {
      "get": {
        "operationId": "PlatformGetApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationDomain",
        "tags": ["Domains"],
        "summary": "Get application domain",
        "description": "Get domain information for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteApplicationDomain",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteApplicationDomain",
        "tags": ["Domains"],
        "summary": "Delete application domain",
        "description": "Delete a provider domain from an application's production instance.\n\nOnly provider domains can be deleted. The primary domain cannot be deleted.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDeletedObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}/status": {
      "get": {
        "operationId": "PlatformGetApplicationDomainStatus",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationDomainStatus",
        "tags": ["Domains"],
        "summary": "Get application domain status",
        "description": "Get the status of a domain for an application.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application domain status retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDomainStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/domains/{domainIDOrName}/dns_check": {
      "post": {
        "operationId": "PlatformTriggerDNSCheck",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "triggerDNSCheck",
        "tags": ["Domains"],
        "summary": "Trigger DNS check",
        "description": "Triggers a DNS check for a domain and returns the current domain status.\n\nThis endpoint ensures that at most one DNS check job is in-flight at any time.\nIf a check is already running or was recently performed, a 409 Conflict is returned.\n\nUse this endpoint to trigger a new DNS verification check after configuring DNS records.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainIDOrName",
            "in": "path",
            "description": "Domain ID or domain name.",
            "example": "dmn_abcdefghijklmnopqrstuvwxyz0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS check triggered and domain status returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDNSCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/application_transfers": {
      "get": {
        "operationId": "PlatformListApplicationTransfers",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listApplicationTransfers",
        "tags": ["Application Transfers"],
        "summary": "List application transfers",
        "description": "List all transfer requests created by the authenticated workspace. Returns\ntransfers sorted by creation date in descending order (most recent first).\n\nUse the `status` parameter to filter by transfer status.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transfer status. Multiple values can be provided by repeating\nthe parameter (e.g., `?status=pending&status=canceled`).\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["pending", "completed", "canceled", "expired"]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the last transfer from the\nprevious page to get the next page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination. Provide the ID of the first transfer from the\nprevious page to get the previous page of results.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListApplicationTransfersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfers": {
      "post": {
        "operationId": "PlatformCreateApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Create an application transfer",
        "description": "Create a new transfer request for an application. This initiates the process of\ntransferring ownership of the application to another workspace.\n\nOnly one pending transfer can exist for an application at a time. The transfer\nwill expire after 24 hours if not completed.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Application transfer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/transfers/{transferID}": {
      "get": {
        "operationId": "PlatformGetApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Get an application transfer",
        "description": "Retrieve details of an application transfer by its ID.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferID",
            "in": "path",
            "description": "Application Transfer ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformCancelApplicationTransfer",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "cancelApplicationTransfer",
        "tags": ["Application Transfers"],
        "summary": "Cancel an application transfer",
        "description": "Cancel an existing application transfer. Only transfers in 'pending' status can be canceled.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferID",
            "in": "path",
            "description": "Application Transfer ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application transfer canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformApplicationTransferResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/usage": {
      "get": {
        "operationId": "PlatformGetInstanceUsage",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getInstanceUsage",
        "tags": ["Applications"],
        "summary": "Get instance usage",
        "description": "Get usage totals for an application instance across meters such as MAU, MAO,\nSMS, custom domains, and enterprise connections.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `application_usage:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start of the date range for usage data in YYYY-MM-DD format.\nBoth `start` and `end` must be provided together.\nWhen omitted, the current billing cycle is used.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Inclusive end of the date range for usage data in YYYY-MM-DD format.\nBoth `start` and `end` must be provided together.\nWhen omitted, the current billing cycle is used.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance usage retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformInstanceUsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/ClerkErrors"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users": {
      "get": {
        "operationId": "PlatformListInstanceUsers",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listInstanceUsers",
        "tags": ["Users"],
        "summary": "List instance users",
        "description": "List all users for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nUse the `query` parameter to filter users by searching across email addresses, phone numbers,\nusernames, web3 wallets, user IDs, first names, and last names.\n\nUse the `order_by` parameter to sort the results. Prefix with `+` for ascending or `-` for descending order.\nValid fields: `created_at`, `updated_at`, `last_sign_in_at`, `last_active_at`, `email_address`, `first_name`,\n`last_name`, `username`, `phone_number`, `web3_wallet`. Default is `-created_at` (most recent first).\n\nRequires the `users:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A search query to filter users. Searches across email addresses, phone numbers,\nusernames, web3 wallets, user IDs, first names, and last names.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to order results by. Prefix with `+` for ascending or `-` for descending order.\nValid fields: `created_at`, `updated_at`, `last_sign_in_at`, `last_active_at`, `email_address`,\n`first_name`, `last_name`, `username`, `phone_number`, `web3_wallet`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListInstanceUsersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users/{userID}/ban": {
      "post": {
        "operationId": "PlatformBanUser",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "banUser",
        "tags": ["Users"],
        "summary": "Ban a user",
        "description": "Marks a user as banned within an application instance. This terminates their active sessions\n(marks them as revoked) and prevents them from signing in again.\n\nRequires the `users:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User banned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/users/{userID}/unban": {
      "post": {
        "operationId": "PlatformUnbanUser",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "unbanUser",
        "tags": ["Users"],
        "summary": "Unban a user",
        "description": "Removes the ban from a user within an application instance. This allows them to sign in again.\n\nRequires the `users:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "description": "User ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unbanned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/jwt_templates": {
      "get": {
        "operationId": "PlatformListJWTTemplates",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listJWTTemplates",
        "tags": ["JWT Templates"],
        "summary": "List JWT templates",
        "description": "List all JWT templates for an application instance.\n\nRequires the `jwt_templates:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT templates retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JWTTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Create a JWT template",
        "description": "Create a new JWT template for an application instance.\n\nRequires the `jwt_templates:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JWT template data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "JWT template name"
                  },
                  "claims": {
                    "type": "object",
                    "description": "JWT template claims in JSON format"
                  },
                  "lifetime": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 315360000,
                    "description": "JWT token lifetime in seconds",
                    "nullable": true
                  },
                  "allowed_clock_skew": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300,
                    "description": "JWT allowed clock skew in seconds",
                    "nullable": true
                  },
                  "custom_signing_key": {
                    "type": "boolean",
                    "description": "Whether a custom signing key/algorithm is also provided for this template"
                  },
                  "signing_algorithm": {
                    "type": "string",
                    "description": "The custom signing algorithm to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  },
                  "signing_key": {
                    "type": "string",
                    "description": "The custom signing private key to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  }
                },
                "required": ["name", "claims"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT template created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/jwt_templates/{templateID}": {
      "get": {
        "operationId": "PlatformGetJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Get a JWT template",
        "description": "Retrieve a specific JWT template for an application instance.\n\nRequires the `jwt_templates:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateID",
            "in": "path",
            "description": "JWT Template ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT template retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "PlatformUpdateJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "updateJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Update a JWT template",
        "description": "Update an existing JWT template for an application instance.\n\nRequires the `jwt_templates:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateID",
            "in": "path",
            "description": "JWT Template ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JWT template data to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "JWT template name"
                  },
                  "claims": {
                    "type": "object",
                    "description": "JWT template claims in JSON format"
                  },
                  "lifetime": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 315360000,
                    "description": "JWT token lifetime in seconds",
                    "nullable": true
                  },
                  "allowed_clock_skew": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 300,
                    "description": "JWT allowed clock skew in seconds",
                    "nullable": true
                  },
                  "custom_signing_key": {
                    "type": "boolean",
                    "description": "Whether a custom signing key/algorithm is also provided for this template"
                  },
                  "signing_algorithm": {
                    "type": "string",
                    "description": "The custom signing algorithm to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  },
                  "signing_key": {
                    "type": "string",
                    "description": "The custom signing private key to use when minting JWTs. Required if `custom_signing_key` is `true`.",
                    "nullable": true
                  }
                },
                "required": ["name", "claims"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT template updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteJWTTemplate",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteJWTTemplate",
        "tags": ["JWT Templates"],
        "summary": "Delete a JWT template",
        "description": "Delete a JWT template from an application instance.\n\nRequires the `jwt_templates:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateID",
            "in": "path",
            "description": "JWT Template ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeletedObject"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/redirect_urls": {
      "get": {
        "operationId": "PlatformListRedirectURLs",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "listRedirectURLs",
        "tags": ["Redirect URLs"],
        "summary": "List redirect URLs",
        "description": "List all redirect URLs for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `applications:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page (1-500, default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect URLs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformListRedirectURLsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "PlatformCreateRedirectURL",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "createRedirectURL",
        "tags": ["Redirect URLs"],
        "summary": "Create a redirect URL",
        "description": "Create a redirect URL for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `applications:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Redirect URL data to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The full URL value prefixed with `https://` or a custom scheme e.g. `\"https://my-app.com/oauth-callback\"` or `\"my-app://oauth-callback\"`."
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redirect URL created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectURL"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/redirect_urls/{redirectURLID}": {
      "get": {
        "operationId": "PlatformGetRedirectURL",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getRedirectURL",
        "tags": ["Redirect URLs"],
        "summary": "Get a redirect URL",
        "description": "Retrieve a redirect URL for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `applications:read` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirectURLID",
            "in": "path",
            "description": "Redirect URL ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect URL retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectURL"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "PlatformDeleteRedirectURL",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "deleteRedirectURL",
        "tags": ["Redirect URLs"],
        "summary": "Delete a redirect URL",
        "description": "Delete a redirect URL from an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nRequires the `applications:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirectURLID",
            "in": "path",
            "description": "Redirect URL ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeletedObject"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/config": {
      "get": {
        "operationId": "PlatformGetConfig",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getConfig",
        "tags": ["Config"],
        "summary": "Get instance config",
        "description": "Get the configuration for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nOptionally filter to specific config keys using the `keys` query parameter.\n\nRequires the `applications:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Config keys to retrieve. If not specified, all keys are returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance config retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformConfigResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "PlatformPatchConfig",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "patchConfig",
        "tags": ["Config"],
        "summary": "Update instance config",
        "description": "Update the configuration for an application instance.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nUse the `dry_run` query parameter to preview changes without applying them.\nUse the `destructive` query parameter to allow clearing config keys by setting them to null.\nUse the `If-Match` header to provide optimistic concurrency control via config version.\n\nRequires the `applications:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "If true, preview the changes without applying them.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "destructive",
            "in": "query",
            "description": "If true, allow clearing config keys by setting them to null.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Config keys to return in the response. If not specified, only updated keys are returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Config version for optimistic concurrency control.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Config updates to apply.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformConfigPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instance config updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformConfigPatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/platform/applications/{applicationID}/instances/{envOrInsID}/config/schema": {
      "get": {
        "operationId": "PlatformGetConfigSchema",
        "x-speakeasy-group": "platform",
        "x-speakeasy-name-override": "getConfigSchema",
        "tags": ["Config"],
        "summary": "Get instance config schema",
        "description": "Get the JSON Schema for the instance configuration.\n\nThe `envOrInsID` parameter can be either an environment type (e.g., \"development\", \"production\")\nor an instance ID.\n\nOptionally filter to specific config keys using the `keys` query parameter.\n\nRequires the `applications:manage` scope.\n",
        "security": [
          {
            "platform_api_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "description": "Application ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envOrInsID",
            "in": "path",
            "description": "Environment type (e.g., \"development\", \"production\") or instance ID.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Config keys to retrieve schema for. If not specified, all keys are returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance config schema retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformConfigSchemaResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "platform_api_access_token": {
        "type": "http",
        "scheme": "bearer",
        "description": "Platform API access token."
      }
    },
    "schemas": {
      "PlatformApplicationInstance": {
        "title": "Application Instance",
        "description": "Represents an instance (environment) within a Clerk application. Each application can have multiple instances, typically one for development and one for production.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "instance_id": {
            "type": "string",
            "description": "The unique identifier for this instance. Use this ID when making API calls that target a specific instance.",
            "example": "ins_2abc123def456"
          },
          "environment_type": {
            "type": "string",
            "description": "The environment type of the instance. Determines whether this instance is used for development/testing or production workloads.",
            "enum": ["development", "production"],
            "example": "production"
          },
          "secret_key": {
            "type": "string",
            "description": "The secret key for authenticating server-side API requests to this instance. Keep this value secure and never expose it in client-side code.",
            "example": "sk_live_abc123...",
            "x-sensitive": true
          },
          "publishable_key": {
            "type": "string",
            "description": "The publishable key for this instance. Safe to include in client-side code and used to initialize Clerk SDKs in the browser.",
            "example": "pk_live_abc123..."
          }
        },
        "required": ["instance_id", "environment_type"]
      },
      "PlatformApplicationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "application_id": {
            "type": "string",
            "description": "The ID of the application."
          },
          "name": {
            "type": "string",
            "description": "The name of the application."
          },
          "instances": {
            "type": "array",
            "description": "List of instances associated with this application.",
            "items": {
              "$ref": "#/components/schemas/PlatformApplicationInstance"
            }
          }
        },
        "required": ["application_id", "name", "instances"]
      },
      "PlatformListApplicationsResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PlatformApplicationResponse"
        },
        "minItems": 0
      },
      "ClerkError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "long_message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "meta": {
            "type": "object"
          }
        },
        "required": ["message", "long_message", "code"]
      },
      "ClerkErrors": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClerkError"
            }
          },
          "meta": {
            "type": "object"
          },
          "clerk_trace_id": {
            "type": "string"
          }
        },
        "required": ["errors"]
      },
      "PlatformCreateApplicationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the application."
          },
          "domain": {
            "type": "string",
            "description": "The domain for the application (optional)."
          },
          "proxy_path": {
            "type": "string",
            "description": "Custom proxy path for provider domains (e.g., \"/__clerk\"). Must start with a leading slash and be a single path segment. Defaults to \"/__clerk\" if not provided."
          },
          "environment_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of environment types to create instances for. Accepted values are \"development\" and \"production\". Defaults to \"development\" if not provided."
          },
          "template": {
            "type": "string",
            "description": "Application template to use for configuring the application (e.g., \"b2b-saas\", \"b2c-saas\", \"waitlist\")."
          }
        },
        "required": ["name"]
      },
      "PlatformDeletedObjectResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean",
            "description": "Whether the object was deleted."
          },
          "object": {
            "type": "string",
            "example": "deleted"
          },
          "id": {
            "type": "string",
            "description": "The ID of the deleted resource."
          }
        },
        "required": ["deleted", "object", "id"]
      },
      "PlatformUpdateApplicationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the application."
          }
        }
      },
      "PlatformUpdateApplicationDomainRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The domain name."
          },
          "proxy_path": {
            "type": "string",
            "description": "Optional proxy path for provider domains."
          }
        },
        "required": ["name"]
      },
      "PlatformDomainResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string",
            "enum": ["domain"]
          },
          "id": {
            "type": "string",
            "description": "The ID of the domain."
          },
          "name": {
            "type": "string",
            "description": "The domain name."
          },
          "is_satellite": {
            "type": "boolean",
            "description": "Whether this is a satellite domain."
          },
          "is_provider_domain": {
            "type": "boolean",
            "description": "Whether this is a provider domain."
          },
          "frontend_api_url": {
            "type": "string",
            "description": "The frontend API URL."
          },
          "development_origin": {
            "type": "string",
            "description": "The development origin."
          },
          "accounts_portal_url": {
            "type": "string",
            "description": "The accounts portal URL."
          },
          "proxy_url": {
            "type": "string",
            "description": "The proxy URL."
          },
          "cname_targets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "host": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              }
            },
            "description": "CNAME targets for the domain."
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "frontend_api_url",
          "development_origin",
          "cname_targets"
        ]
      },
      "PlatformListApplicationDomainsResponse": {
        "title": "List Application Domains Response",
        "description": "A paginated list of application domains.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "description": "The list of application domains.",
            "items": {
              "$ref": "#/components/schemas/PlatformDomainResponse"
            }
          },
          "total_count": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of application domains for the application.",
            "example": 2
          }
        },
        "required": ["data", "total_count"]
      },
      "PlatformCreateApplicationDomainRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The provider domain name."
          },
          "proxy_path": {
            "type": "string",
            "description": "Optional proxy path for provider domains."
          }
        },
        "required": ["name"]
      },
      "FailureHint": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["code", "message"]
      },
      "CNAMEStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "clerk_subdomain": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "failure_hints": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/FailureHint"
            }
          }
        },
        "required": ["clerk_subdomain", "from", "to", "verified", "required", "failure_hints"]
      },
      "DNSStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "enum": ["not_started", "in_progress", "complete"]
          },
          "cnames": {
            "type": "object",
            "properties": {
              "accounts": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clerk": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clk._domainkey": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clk2._domainkey": {
                "$ref": "#/components/schemas/CNAMEStatus"
              },
              "clkmail": {
                "$ref": "#/components/schemas/CNAMEStatus"
              }
            }
          }
        },
        "required": ["status", "cnames"]
      },
      "SSLStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "failure_hints": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/FailureHint"
            }
          }
        },
        "required": ["status", "required", "failure_hints"]
      },
      "PlatformDomainStatusResponse": {
        "type": "object",
        "properties": {
          "dns": {
            "type": "object",
            "$ref": "#/components/schemas/DNSStatus"
          },
          "ssl": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["complete", "in_process", "not_started", "failed", "incomplete"]
              },
              "required": {
                "type": "boolean"
              },
              "failure_hints": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/FailureHint"
                }
              }
            }
          },
          "ssl_hosts": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/SSLStatus"
            }
          },
          "mail": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "required": {
                "type": "boolean"
              }
            },
            "required": ["status", "required"]
          },
          "proxy": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "required": {
                "type": "boolean"
              }
            },
            "required": ["status", "required"]
          },
          "status": {
            "type": "string",
            "enum": ["complete", "incomplete"]
          }
        },
        "required": ["dns", "ssl", "status"]
      },
      "PlatformDNSCheckResponse": {
        "description": "Response from triggering a DNS check. Includes the current domain status\nalong with metadata about the check.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/PlatformDomainStatusResponse"
          },
          {
            "type": "object",
            "properties": {
              "domain_id": {
                "type": "string",
                "description": "The ID of the domain.",
                "example": "dmn_abcdefghijklmnopqrstuvwxyz0"
              },
              "last_run_at": {
                "type": "integer",
                "format": "int64",
                "nullable": true,
                "description": "The timestamp in epoch milliseconds of the last DNS check, if any.\nWill be `null` if no check has been performed yet.\n"
              }
            },
            "required": ["domain_id", "last_run_at"]
          }
        ]
      },
      "PlatformApplicationTransferResponse": {
        "title": "Application Transfer",
        "description": "Represents an application transfer request. Application transfers allow transferring ownership of an application from one organization to another.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "object": {
            "type": "string",
            "enum": ["application_transfer"],
            "description": "The object type."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the application transfer.",
            "example": "appxfr_2abc123def456"
          },
          "code": {
            "type": "string",
            "description": "A unique code for the transfer that can be shared with the recipient to claim the application through the clerk dashboard: https://dashboard.clerk.com/apps/transfer?code=<CODE>",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "application_id": {
            "type": "string",
            "description": "The ID of the application being transferred.",
            "example": "app_2abc123def456"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transfer.",
            "enum": ["pending", "completed", "canceled", "expired"],
            "example": "pending"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the transfer expires if not completed.",
            "example": "2024-01-16T12:00:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the transfer was created.",
            "example": "2024-01-15T12:00:00Z"
          },
          "canceled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The timestamp when the transfer was canceled, or null if not canceled.",
            "example": null
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The timestamp when the transfer was completed, or null if not completed.",
            "example": null
          }
        },
        "required": [
          "object",
          "id",
          "code",
          "application_id",
          "status",
          "expires_at",
          "created_at",
          "canceled_at",
[...]
